body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #0077b6;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.profile-pic {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume-button {
  background-color: #0077b6;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
}

.resume-button:hover {
  background-color: #005f8e;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
section#about p {
  line-height: 1.6;
  margin-bottom: 1rem;
}


h2 {
  color: #0077b6;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}